.paint-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #cbcbcb;
}

.paint-topbar-container {
	display: flex;
	width: 100%;
}

.paint-topbar {
	display: flex;

	column-gap: 10px;
	padding: 5px;
}

.paint-topbar > a {
	font-size: 11px;
}

.paint-topbar > a::first-letter {
	text-decoration: underline;
}

.paint-canvas-container {
	display: flex;
	width: 100%;
	height: 100%;
	column-gap: 5px;
}

.paint-tools-container {
	display: flex;
	width: 30px;
	height: 380px;
	flex-direction: column;
}

.paint-tools-container > button {
	display: flex;
	align-items: center;
	height: 30px;
	background-color: #cbcbcb;
	border: 1px outset #b9b9b9;
	box-shadow: inset 1px 1px 1px 1px #e7e7e7;
}

.html-paint-canvas-container {
	display: flex;
	width: 100%;
	height: 100%;
}

#paint-canvas {
	background-color: white;
	width: 100%;
	height: 100%;
	transform-origin: top left;
}

.paint-pallette-container {
	display: flex;
	gap: 2px;
}

.paint-pallette-container > button {
	width: 20px;
	height: 20px;
	border: 1px outset #b9b9b9;
	box-shadow: inset 1px 1px 1px 1px #484848;
}

.paint-pallette-container > button:hover {
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=151740), auto;
}

.divisor {
	display: flex;
	width: 100%;
	height: 1px;
	background-color: #ffffff;
}

.white-paint {
	background-color: white;
}
.black-paint {
	background-color: black;
}
.gray-paint {
	background-color: gray;
}
.brown-paint {
	background-color: brown;
}
.red-paint {
	background-color: red;
}
.pink-paint {
	background-color: pink;
}
.orange-paint {
	background-color: orange;
}
.yellow-paint {
	background-color: yellow;
}
.blue-paint {
	background-color: blue;
}
.green-paint {
	background-color: green;
}

.paint-tools-container > input {
	display: flex;
	width: 30px;
	height: 30px;
}

.paint-tools-container > button:hover {
	background-color: #b7b7b7;
	border: 1px outset rgb(95, 95, 95);
	box-shadow: inset 1px 1px 1px 1px #979797;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=151740), auto;
}

.paint-color-container {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.paint-color-selected-container {
	display: flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(135, 135, 135);
	box-shadow: inset 1px 1px 1px 1px #484848;
	background-color: #e3e3e3;
}

.paint-color-selected {
	display: flex;
	width: 20px;
	height: 20px;
	border: 1px outset #b9b9b9;
	box-shadow: inset 1px 1px 1px 1px #484848;
}
