.browser-container {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: brown;
	flex-direction: column;
}

.browser-top-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: #cbcbcb;
	height: 60px;
}

.browser-header-container {
	display: flex;
	width: 100%;
	height: 25px;
	background-color: #cbcbcb;
	column-gap: 10px;
	align-items: center;
	border: 1px outset #b9b9b9;
	box-shadow: inset 1px 1px 1px 1px #e7e7e7;
}

.bar {
	display: flex;
	width: 4px;
	height: 14px;
	background-color: #d6d6d6;
	border: 1px outset #b9b9b9;
	box-shadow: inset 1px 1px 1px 1px #e7e7e7;
	margin-left: 5px;
}

.browser-header-container > a {
	font-size: 11px;
}

.browser-address-container {
	display: flex;
	width: 100%;
	height: 25px;
	background-color: #cbcbcb;
	font-size: 11px;
	column-gap: 10px;
	align-items: center;
	border: 1px outset #b9b9b9;
	box-shadow: inset 1px 1px 1px 1px #e7e7e7;
}
.browser-address-field {
	display: flex;
	width: 100%;
	height: 20px;
	background-color: white;
	border: none;
	font-size: 11px;
	align-items: center;
	justify-content: space-between;
}

.browser-address-field > a {
	padding: 0 5px;
}

.browser-content-container {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: white;
}

.browser-content {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.browser-bottom-container {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: white;
}

.divisor {
	display: flex;
	width: 100%;
	height: 1px;
	background-color: #ffffff;
}

.browser-header-container > a::first-letter {
	text-decoration: underline;
}

.divisor-container {
	display: flex;
	width: 100%;
	height: 10px;
}
