.app-doom-renderer-container {
	display: flex;
	width: 100%;
	height: 100%;
}

#DOOM > .dosbox-container {
	width: 640px;
	height: 400px;
}
#DOOM > .dosbox-container > .dosbox-overlay {
	background: url("https://thedoggybrad.github.io/doom_on_js-dos/DOOM.png");
}
#DOOM > .dosbox-container > .dosbox-overlay > .dosbox-start {
	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
	border: 0px solid #000000;
	background-color: rgba(90, 90, 90, 0.57);
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	width: 10em;
	margin: 0 auto;
}

a:link {
	color: white;
}

.loading-doom {
	position: absolute !important;
	background-color: rgba(191, 255, 255, 0.5);
}
