.clippy-container {
	display: flex;
	height: 25px;
	width: 140px;
	position: absolute;
	justify-content: end;
	align-items: center;
	flex-direction: column;
	margin-top: 438px;
	margin-left: -200px;
}

.clippy-balloon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffdeab;
	width: 100%;
	height: 60px;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 0px 0.5px #000000;
}

.clippy-balloon-arrow {
	display: flex;
	position: absolute;
	border-bottom: 10px solid #ffdeab;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	border-top: none;
	top: -55px;
	margin-right: 50px;
	transform: rotate(280deg);
}

.clippy-balloon-text {
	font-size: 12px;
    text-align: center;
}

.clippy-img {
	display: flex;
	justify-content: center;
}
